<%- include ("include /head.ejs") %>
<body>
    <h2> This Page is Belons To @<%= username %></h2>
    <div>
        <button>Follow</button>
        <button>Measseges</button>
    </div>
    <h3> Account That Follow You :</h3>
    <ul>
        <% for(let name of follower) { %>
            <li> <%= name %></li>
            <% } %>
    </ul>

    
</body>
</html>