<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embededd Javascript Templates</title>
</head>
<body>
    <h2> This Page is Belons To @<%= username %></h2>
    <div>
        <button>Follow</button>
        <button>Measseges</button>
    </div>
    
</body>
</html>